:root {
  --bg-black: #000000;
  --text-light: #FFFFFF;
  --title-primary-color: #f5f5f7;
  --subtitle-color: #6e6e7e;
  --action-color: #2997ff;
  --Spirited-main-color: #DED29BB9;
}

header { background: var(--bg-black);
          color: var(--text-light);
            height: fit-content;
              opacity: o.9;
                position: sticky;
                  top: 0;
                    z-index: 1;
                      padding: 12 0px;
}

header nav ul { margin: 0 auto;
                  width: fit-content;
                    display: flex;
                      align-items: center;
                        gap: 1rem;
                          padding: 0 2rem;
                            
}

header nav li { min-width: fit-content;
                  height: fit-content;
                    padding: 0 0.75rem;
                      font-size: small;
                        cursor: pointer;
                          list-style: none;
}

main section {text-align: center;
                position: relative;
}

main {display: flex; 
        flex-direction: column;
          gap: 12px;
}

main .main-section { text-align: center;
                      position: relative;
}

main .main-section h1 { color: var(--title-primary-color);
                    font-size: 3rem;
                      font-weight: bold;
                        line-height: 4rem;
                          letter-spacing: -0.28px;
}

main .main-section h2 { color: var(--subtitle-color);
                    font-size: 2rem;
                      font-weight: normal;
                        font-weight: 2.5rem; 
                          letter-spacing: 0.11;
                            margin-bottom: 2px;

}

main section sub {font-size: 0.9rem;}

main section a { color: var(--action-color);
                  line-height: 2rem;
                    font-size: 1.5rem;
                      text-decoration: none;
                        cursor: pointer;

}

main section a.hover { text-decoration: underline;

}

main .main-section .text-wrapper {position: absolute;
                              left: 50%;
                                transform: translateX(-50%);
                                  display: flex;
                                    flex-direction: column;
                                      align-items: center;
                                        margin-top: 51px;

}
main section img {width: 100%;
                          height: auto;
                          
}
                                            /*End main section*/
                                      /* Star Main Spirited section*/

main .spirited-section > div {position: relative;
                                left: 50%;
                                  transform: translateX(-50%);
}

main .spirited-section > div:last-child {  bottom: 50px;
}

main .spirited-section > div:first-child {top: 105px;
                                            display: flex;
                                              justify-content: space-between;
                                                width: 100%;
                                                  max-width: 60%;
}

main .spirited-section > div:first-child p {font-size: 2rem;
                                              font-weight: bold;
                                                line-height: 2.5rem;
                                                  color: var(--Spirited-main-color)
}

main .spirited-section p { color: var(--title-primary-color);
                              font-size: 1.5rem;
                                line-height: 1.8rem;
                                  letter-spacing: 0.11px;
}

main .spirited-section span { color: var(--title-primary-color);
                                font-size: 1.2rem;
                                  line-height: 1.5rem;
                                    display: block;
                                      letter-spacing: 0.23px;
}
                                                    /*Fim section 2*/
                                                    /*Inicio  section 3*/

main .Iphone-section h2 { color: var(--bg-black);
                    font-size: 3rem;
                      font-weight: bold;
                        line-height: 4rem;
                          letter-spacing: -0.28px;
}

main .Iphone-section p { color: var(--subtitle-color);
                    font-size: 2rem;
                      font-weight: normal;
                        font-weight: 2.5rem; 
                          letter-spacing: 0.11;
                            margin-bottom: 2px;
}
main .Iphone-section .link-wrapper {display: flex;
                                    align-items: center;
                                      justify-content: center;
                                        gap: 8px;
}  
main .Iphone-section .text-wrapper {position: absolute;
  left: 50%;
    transform: translateX(-50%);
      display: flex;
        flex-direction: column;
          align-items: center;
            margin-top: 51px;

}                                              